{% extends "_templates/base.twig" %}
{% block javascript %}
{% endblock %}
{% block content %}
    <div class="main-content clearfix">
        <div class="container">
            <div class="span6">
                <input id="screen" type="text"><br><br>
                <button class="btn-small"><strong>(</strong></button>
                <button class="btn-small"><strong>)</strong></button>
                <button class="btn-small"><strong>^</strong></button>
                <button class="btn-small"><strong>sin</strong></button>
                <button class="btn-small"><strong>cos</strong></button>
                <button class="btn-small"><strong>tan</strong></button>
                <button class="btn-small"><strong>log</strong></button><br>
                <button class="btn-number"><strong>6</strong></button>
                <button class="btn-number"><strong>7</strong></button>
                <button class="btn-number"><strong>8</strong></button>
                <button class="btn-number"><strong>9</strong></button>
                <button class="btn-del btn-func"><strong>DEL</strong></button>
                <button class="btn-clr btn-func"><strong>AC</strong></button><br>
                <button class="btn-number"><strong>2</strong></button>
                <button class="btn-number"><strong>3</strong></button>
                <button class="btn-number"><strong>4</strong></button>
                <button class="btn-number"><strong>5</strong></button>
                <button class="btn-number btn-func"><strong>+</strong></button>
                <button class="btn-number btn-func"><strong>-</strong></button><br>
                <button class="btn-number"><strong>0</strong></button>
                <button class="btn-number"><strong>1</strong></button>
                <button class="btn-number"><strong>.</strong></button>
                <button class="btn-number"><strong>e</strong></button>
                <button class="btn-number btn-func"><strong>x</strong></button>
                <button class="btn-number btn-func"><strong>/</strong></button><br>
                <button class="btn-number" id="btn-ans"><strong>Ans</strong></button>
                <button class="btn-result"><strong>=</strong></button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        var ans = 0;//The current result;
        /*
        Main function
        @author:
        @param :
            expression: string
        @return : real || "error"
         */
        function calculate(expression) {
            //TODO - analysis the expression for result; return "error" if has error
           // if (expression[2] == 3) alert("bang");
            //else alert("ko bang");
            var thu = add2Stack(expression);
           // while(thu.length>0) document.write((k = thu.shift()) + " " + " k= " + k + " xx ");
            kq=result_calculater(thu);
            return kq;
        }
        function add2Stack(expression)
        {
            var oprd = new Array();
            var oprt = new Array();
             num = 0;

            for (i = 0; i < expression.length; i++)
            {
                if (expression[i]>= '0' && expression[i] <= '9' || expression[i] == '.')
                {
                   // if (dot==false)
                     num = num + expression[i];//alert(num)

                }
                else //neu la toan tu
                {
                    switch (expression[i]) {
                        case '+':case '-':case 'x':case '/':case '^':case 'e':
                        oprd.push(num);
                        num=0;
                            if (oprt.length > 0)
                            {
                                var op = oprt.pop();
                                if (priority(op) > priority(expression[i].toString()))
                                {
                                    oprd.push(op);
                                }
                                else oprt.push(op);

                            }
                            oprt.push(expression[i]);
                            break;
                        case '(':
                            oprt.push("(");
                            break;
                        case ')':
                            oprd.push(num);
                            num=0;
                            while (oprt.length > 0)
                            {
                                var op = oprt.pop();
                                if (op == "(") break;
                                oprd.push(op);
                            }
                        case 'c':
                            if (expression[i+1] == 'o' && expression[i+2] == 's')
                            {
                                var chuoi = expression[i];
                                chuoi += expression[i+1];
                                chuoi += expression[i+2];
                                oprt.push(chuoi);   //alert(oprt.pop() + " day la sin");
                                i += 2;//alert("i = " + i);
                            }
                            break;
                        case 's':
                            if (expression[i+1] == 'i' && expression[i+2] == 'n')
                            {
                                var chuoi = expression[i];
                                chuoi += expression[i+1];
                                chuoi += expression[i+2];
                                oprt.push(chuoi);   //alert(oprt.pop() + " day la sin");
                                i += 2;//alert("i = " + i);
                            }
                            break;
                        case 'l':
                            if (expression[i+1] == 'o' && expression[i+2] == 'g')
                            {
                                var chuoi = expression[i];
                                chuoi += expression[i+1];
                                chuoi += expression[i+2];
                                oprt.push(chuoi);   //alert(oprt.pop() + " day la sin");
                                i += 2;//alert("i = " + i);
                            }
                            break;
                        case 't':
                            if (expression[i+1] == 'a' && expression[i+2] == 'n')
                            {
                                var chuoi = expression[i];
                                chuoi += expression[i+1];
                                chuoi += expression[i+2];
                                oprt.push(chuoi);   //alert(oprt.pop() + " day la sin");
                                i += 2;//alert("i = " + i);
                            }
                            break;
                    }
                }
                if (i == (expression.length - 1)) oprd.push(num);
            }
            while (oprt.length > 0) oprd.push(oprt.pop());
            return oprd;
        }
        function priority(op) //op1 > op2??
        {
            switch (op){
                case "+": return 10;
                case "(" : return 10;
                case "-": return 11;
                case "x": return 12;
                case "/": return 13;
                case "^": case "e": return 15;
                case "sin":case "cos":case "tan":case "log": return 19;
            }
        }

        function result_calculater(expression)
        {
            var cal = new Array();
            while (expression.length > 0)
            {
                var temp=expression.shift();
                switch (temp){ //toan tu
                    case "+":
                        a=parseFloat(cal.pop());
                        b=parseFloat(cal.pop());
                        rt=parseFloat(a+b);
                        cal.push(rt);
                        break;
                    case "-":
                        b=parseFloat(cal.pop());
                        a=parseFloat(cal.pop());
                        rt=parseFloat(a-b);
                        cal.push(rt);
                        break;
                    case "x":
                        b=parseFloat(cal.pop());
                        a=parseFloat(cal.pop());
                        rt=parseFloat(a*b);
                        cal.push(rt);
                        break;
                    case "/":
                        b=parseFloat(cal.pop());//thang vao truoc / thang vao sau
                        a=parseFloat(cal.pop());
                        rt=parseFloat(a/b);
                        cal.push(rt);
                        break;
                    case "^":
                        b=parseFloat(cal.pop());
                        a=parseFloat(cal.pop());
                        rt=parseFloat(Math.pow(a,b));
                        cal.push(rt);
                        break;
                    case "e":
                        a=parseFloat(cal.pop());
                        b=parseFloat(cal.pop());
                        rt=parseFloat(a*Math.pow(10,b));
                        cal.push(rt);
                        break;
                    case "sin":
                        a=parseFloat(cal.pop());
                        rt=parseFloat(Math.sin(a));
                        cal.push(rt);
                        break;
                    case "cos":
                        a=parseFloat(cal.pop());
                        rt=parseFloat(Math.cos(a));
                        cal.push(rt);
                        break;
                    case "tan":
                        a=parseFloat(cal.pop());
                        rt=parseFloat(Math.tan(a));
                        cal.push(rt);
                        break;
                    case "log":
                        a=parseFloat(cal.pop());
                        rt=parseFloat(Math.log(a));
                        cal.push(rt);
                        break;
                    default:
                        cal.push(temp);
                        break;
                }
            }
            return cal;
        }
        $(document).ready(function() {
            //For number and operator button
            $(".btn-number, .btn-small").on('click', function() {
                if ($(this).prop("id") != "btn-ans") {
                    $("#screen").val($("#screen").val() + $(this).text());
                }
            });
            //For del button
            $(".btn-del").on("click", function() {
                var s = $("#screen").val();
                $("#screen").val(s.substring(0, s.length - 1));
            });
            //For ans button
            $("#btn-ans").on('click', function() {
                $("#screen").val($("#screen").val() + ans.toString());
            });
            //For AC button
            $(".btn-clr").on("click", function() {
                $("#screen").val("");
            });
            //For getting result
            $(".btn-result").on('click', function() {
                var expression = $("#screen").val();
                var result = calculate(expression);
                if (result != 'error')
                    ans = result;
                $("#screen").val(result);
            });
        });
    </script>
{% endblock %}
