<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Page's title</title>
    <link href="{{ constant('URL') }}/public/css/iconFont.css" rel="stylesheet">
    <link href="{{ constant('URL') }}/public/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
{% block content %}
    <div class="main-content clearfix">
        <div class="container">
            <div class="span6">
                <h4>{{ title }}</h4>
                <input id="screen" type="text"><br><br>
                <button class="btn-number"><strong>0</strong></button>
                <button class="btn-number"><strong>1</strong></button>
                <button class="btn-number"><strong>2</strong></button>
                <button class="btn-number"><strong>3</strong></button>
                <button class="btn-number"><strong>4</strong></button>
                <button class="btn-number"><strong>5</strong></button>
                <button class="btn-number"><strong>6</strong></button>
                <button class="btn-number"><strong>7</strong></button>
                <button class="btn-number"><strong>8</strong></button>
                <button class="btn-number"><strong>9</strong></button><br>
                <button class="btn-number"><strong>+</strong></button>
                <button class="btn-number"><strong>-</strong></button>
                <button class="btn-number"><strong>x</strong></button>
                <button class="btn-number"><strong>/</strong></button>
                <button class="btn-result btn-number"><strong>=</strong></button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        function calculate(expression) {
            //TODO - analysis the expression for result
            return 0;
        }
        $(document).ready(function() {
            $(".btn-number").on('click', function() {
                $("#screen").val($("#screen").val() + $(this).text());
            });
            $(".btn-result").on('click', function() {
                var expression = $("#screen").val();
                var result = calculate(expression);
                $("#screen").val(result);
            });
        });
    </script>
{% endblock %}
