
<body class="metro">
    {% block content %} {% endblock %}
    {% block javascripts %}
        <script src="{{ constant('URL') }}public/js/jquery/jquery.min.js"></script>
        <script src="{{ constant('URL') }}public/js/jquery/jquery.widget.min.js"></script>
        <script src="{{ constant('URL') }}public/js/metro.min.js"></script>
    {% endblock %}
</body>
</html>
